.header {
  position: fixed;
  top: 0;
  right: 0;
  height: 40px;
  width: 100%;
  text-align: right;
  padding: 10px 40px;
  z-index: 123;
  display: flex;
  justify-content: space-between;
  .media {
    svg {
      width: 28px;
      fill: #fff;
    }
  }
  .logo {
    img {
      width: 40px;
    }
  }
}
