li,
ul,
ol {
  list-style: none;
}
img {
  max-width: 100vw;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section {
  .video {
    position: relative;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .JoL-player-container {
      width: 100% !important;
      height: 100% !important;
      .time-wrap,
      .JoL-progress-and-controls-wrap {
        display: none !important;
      }
      .end-content {
        height: 100%;
        background: url(../public/asset/OVWR_WebBG.jpg) no-repeat;
        overflow: hidden;
        display: flex;
        padding-top: 40px;
        align-items: flex-start;
        position: relative;
        justify-content: center;
        img {
          width: 100%;
          &.logo {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            top: 0;
          }
          position: relative;
          max-width: 1200px;
        }
      }
    }
    span {
      position: absolute !important;
      span {
        width: 600px !important;
        height: 630px !important;
        bottom: 350px;
        right: -300px;
      }
      img {
        width: 100%;
      }
    }
  }
}
@media (max-width: 1000px) {
  .section {
    .video {
      .JoL-player-container {
        .end-content {
          padding: 40px;
          img {
            top: auto !important;
            // position: absolute;
            bottom: 0;
            margin: auto;
            &.logo {
              top: 0 !important;
              bottom: auto !important;
            }
          }
        }
      }
    }
  }
}
